.container-form{
    display: flex;
    justify-content: center;
}

#signup-form{
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    width: 60%;
}

input{
    padding:7px 20px;
    border: none;
    color: black;
    border-bottom: 1px solid grey;
   
}